.main{
    display: flex;
    flex-direction: column;
}
.main img{
    width: 395.91px;
    height: 232px;
    align-self: center;
    padding-top: 26px;
}
.main h1{
    padding-left: 52.02px;
    padding-top: 26px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
.main p{
    padding-left: 52.02px;
    padding-top: 2px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: small;
}
.main ul{
    display: flex;
    margin: auto;
    list-style-type: none;
    gap: 1rem;
}
.main ul li img{
    height: 235px;
    width: 176px;
}
.main ul li{
    position: relative;
}
.main ul li p{
    padding: 0px;
}
.main ul li p img {
    width: 11px;
    height: 11px;
    padding-top: 0px;
}
.light{
    font-weight: lighter;
}
.bold{
    font-weight: bold;
}
.main ul li .badge{
    position: absolute;
    top: 30px;
    left: 10px;
    background-color: white;
    padding: 3px 6px;
    border-radius: 10%;
    font-family: "Poppins", sans-serif;
    font-size: x-small;
    font-weight: bold;
}