.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(21, 21, 21);
  box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.2);
  border-radius: 3%;
}
.card img {
  width: 65%;
}
.card h1 {
  font-weight: 100;
  font-size: larger;
}
.card:hover {
  color: darkred;
  padding: 1rem;
}
