@font-face {
  font-family: Horror;
  src: url(../assets/zombies-reborn-font/misc/REBORN\ ZOMBIES-f13a.woff);
}
.hero {
  font-family: Horror;
  height: 78vh;
  margin-top: 2rem;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  background-image: url("../assets/back3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.hero h1 {
  font-weight: 200;
  font-size: 5rem;
}
.hero p {
  font-size: xx-large;
}
.hero img {
  width: 25%;
  float: right;
}
.hero h1 span {
  color: darkred;
}
