.hero {
  height: 70vh;
  margin-top: 2rem;
  color: white;
  padding: 1rem 2rem;
  justify-content: center;
  gap: 1rem;
  background-color: rgb(21, 21, 21);
}
.hero p {
  font-size: xx-large;
}
.hero img {
  width: 25%;
  float: right;
}
