.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: white;
  background-image: linear-gradient(
    to right,
    rgba(103, 34, 128, 1),
    rgba(166, 38, 211, 1)
  );
}
.Nav .logo {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.Nav .logo img {
  width: 40px;
}
.Nav .logo h1 {
  font-size: large;
}
